.navbar{
    background-color: #003580;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.navbarContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    height: 100%;
    align-items:center;
    justify-content: space-between;
}
.logo{
    color: white;
}
.btnContainer{
    gap: 10px;
    display: flex;
    align-items: center;
}
button{
    color: #003580;
    padding: 5px;
}